/* section {
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
} */


.headertext {
  font-size: 84px;
  color: #ff1100;
  text-align: left;
  align-self: flex-start;
}

.cardcontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}


@media screen and (max-width: 760px) {
    /* .cardcontent2{
        flex-direction: column !important;
        background: #000;
    } */
}
