.footer{
    width: 100%;
    height: 65vh;
    margin-top: 10%;
    padding: 3% ;
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    flex-direction: column;
    background-color: #000000;
    gap: 15px;
}

.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}
.container{
    width: 33.33%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.text{
    margin-top: 30px;
    color: #fff;
    font-size: 25px;
}

.links{
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
}

h1.links{
    font-weight: 800;
}

h2.links{
    font-weight: 500;
}

h2.links:hover
{
    color: #ff1100;
    cursor: pointer;
}
.resource{
    align-self: flex-start;
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
}

h1.resource{
    font-weight: 800;
}

h2.resource{
    font-weight: 500;
}

.icons{
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    gap: 25px;
    width: 33.33%;
    height: 50px;
}

.copyright{
    margin-top: 80px;
    color:white;
    font-size: 20px;
    align-self: flex-end;
    font-weight: bold;
    
}